* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Qatar2022", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(181, 181, 181);
    background: linear-gradient(90deg,
            rgba(181, 181, 181, 1) 6%,
            rgba(255, 255, 255, 1) 64%,
            rgba(131, 5, 5, 1) 89%,
            rgba(0, 0, 0, 1) 98%);
    width: 100%;
}

h1 {
    color: rgb(132, 110, 38);
    font-size: 2.5rem;
    animation: h1-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.navbar-brand {
    color: rgb(132, 110, 38);
    font-size: 2.5rem;
    animation: h1-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

a {
    text-decoration: none;
}

a.nav-link {
    color: navy;
}

.card-text {
    font-size: 1.5rem;
}

/*contenedor principal flex*/
.container-main-home {
    text-align: center;
}

/* clase para ajustar los background de la home*/
.background-img {
    height: 700px;
    display: flex;
    background-size: cover;
    background-position-x: center;
    min-width: 100%;
}

/* inicio imagenes de fondo */
#qatar {
    background-image: url("../resources/img-qatar1.jpeg");
}

#fixture {
    background-image: url("../resources/img-fixture1.jpg");
    background-position-y: center;
}

#stadiums {
    background-image: url("../resources/img-stadiums1.jpeg");
    background-position-y: center;
}

#teams {
    background-image: url("../resources/img-teams1.jpeg");
}

/* estilos cards */
.card {
    background: rgba(00, 00, 00, 0.5);
}

.card-half {
    margin: 5rem;
    width: 50%;
}

.card-full {
    text-align: justify;
    width: 100%;
}

/* clase para tirar las cards a la derecha */

.position-right {
    margin-left: auto;
}

/* QATAR */
/* grid */
.container-qatar {
    margin: 10px;
    width: 95%;
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
        "header header"
        "grid-title grid-title"
        "aside stats"
        "media1 media1"
        "media2 media2"
        "footer footer";
}

.grid-header {
    grid-area: header;
    height: auto;
    text-align: center;
}

.grid-title {
    grid-area: grid-title;
    height: auto;
}

.aside {
    grid-area: aside;
    height: auto;
}

.stats {
    grid-area: stats;
    height: auto;
}

.media1 {
    grid-area: media1;
    height: auto;
}

.media2 {
    grid-area: media2;
}

.media2 iframe {
    height: 700px;
    width: 100%;
}

footer {
    grid-area: footer;
}

/* ESTADIOS */
.container-stadiums {
    margin: 10px;
}

.item-grid {
    margin-bottom: 50px;
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto 2fr;
    grid-template-areas:
        "stadium-title stadium-title"
        "stadium-stats stadium-img"
        "stadium-map stadium-img";
}

.stadium-title {
    grid-area: stadium-title;
}

.stadium-map {
    grid-area: stadium-map;
}

.stadium-map iframe {
    height: 100%;
}

.stadium-img {
    background-color: black;
    grid-area: stadium-img;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

.stadium-img img {
    width: 100%;
}

.item-grid iframe {
    height: 100%;
}

/* Home Responsive (flex) */
@media screen and (max-width: 800px) {
    .card {
        flex-grow: 1;
        margin: 1rem;
    }

}

/* Stadiums responsive grid within flex */
@media screen and (max-width: 800px) {
    .item-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "stadium-title"
            "stadium-stats"
            "stadium-img";
    }

    .stadium-map {
        display: none;
    }

    .stadium-img {
        width: 100%;
    }
}

/* TEAMS */

.container-teams {
    margin: 10px;
    width: 95%;
}

.team-item {
    margin-bottom: 25vh;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat 2fr, 1fr;
    grid-template-areas:
        "team-img team-img team-img team-img"
        "goalkeepers defenders midfielders strikers";
}

.team-img {
    grid-area: team-img;
}

.team-img img {
    width: 100%;
}

.goalkeepers {
    margin: 0px 5px;
    grid-area: goalkeepers;
}

.defenders {
    margin: 0px 5px;
    grid-area: defenders;
}

.midfielders {
    margin: 0px 5px;
    grid-area: midfielders;
}

.strikers {
    margin: 0px 5px;
    grid-area: strikers;
}

/* FIXTURE flex */
.container-fixture {
    margin-top: 10px;
    margin-left: 10px;
    width: 95%;
    gap: 20px;
    justify-content: space-evenly;
}

.fixture {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.form-section {
    width: 100%;
}

/* grid de la serie de playoff*/
.playoff {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "roundof16-1 quarterfinal-a semifinal-1 ."
        "roundof16-2 quarterfinal-a semifinal-1 ."
        "roundof16-3 quarterfinal-b semifinal-1 final"
        "roundof16-4 quarterfinal-b semifinal-1 final"
        "roundof16-5 quarterfinal-c semifinal-2 final"
        "roundof16-6 quarterfinal-c semifinal-2 final"
        "roundof16-7 quarterfinal-d semifinal-2 ."
        "roundof16-8 quarterfinal-d semifinal-2 third-place";

}

.final {
    grid-area: final
}

.roundof16-1 {
    grid-area: roundof16-1
}

.roundof16-2 {
    grid-area: roundof16-2
}

.roundof16-3 {
    grid-area: roundof16-3
}

.roundof16-4 {
    grid-area: roundof16-4
}

.roundof16-5 {
    grid-area: roundof16-5
}

.roundof16-6 {
    grid-area: roundof16-6
}

.roundof16-7 {
    grid-area: roundof16-7
}

.roundof16-8 {
    grid-area: roundof16-8
}

.quarterfinal-a {
    grid-area: quarterfinal-a
}

.quarterfinal-b {
    grid-area: quarterfinal-b
}

.quarterfinal-c {
    grid-area: quarterfinal-c
}

.quarterfinal-d {
    grid-area: quarterfinal-d
}

.semifinal-1 {
    grid-area: semifinal-1;
}

.semifinal-2 {
    grid-area: semifinal-2;
}

.final {
    border-style: double;
    grid-area: final;
}

.third-place {
    grid-area: third-place;
}

.playoff-table {
    display: none;
}

.container-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 95%;
}

.container-form form {
    align-content: center;
    display: flex;
    flex-direction: column;
    margin: 10vh 10%;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: brown;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Home Responsive */
@media screen and (max-width: 500px) {
    .background-img {
        height: 500px;
    }

    .card-text {
        font-size: 1rem;
    }

    .fixture-item {
        font-size: 10px;
    }
}

/* Qatar Responsive (grid)*/
@media screen and (max-width: 800px) {
    .container-qatar {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, auto);
        grid-template-areas:
            "header"
            "grid-title"
            "stats"
            "aside"
            "media1"
            "media2"
            "footer";
    }

    .media2 iframe {
        height: auto;
        width: 100%;
    }

    .team-item {
        margin-bottom: 10vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
            "team-img"
            "goalkeepers"
            "defenders"
            "midfielders"
            "strikers";
    }

    .container-teams {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .playoff {
        display: none;
    }

    .playoff-table {
        display: unset;
    }

    .fixture-item {
        min-width: 300px;
    }
}

/* Teams responsive grid within flex */
@media screen and (max-width: 1280px) {
    .team-item {
        height: auto;
        margin-bottom: 10vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "team-img team-img"
            "goalkeepers defenders"
            "midfielders strikers";

    }
}

@keyframes h1-animation {
    50% {
        color: rgb(192, 160, 53);
    }
}