/* FIXTURE flex */

$quarter: "a", "b", "c", "d";


@mixin playoff-style($font, $bg) {
  text-align: center;
  font-size: $font;
  background-color: $bg;
}

.container-fixture {
  margin-top: 10px;
  margin-left: 10px;
  width: 95%;
  gap: 20px;
  justify-content: space-evenly;

  .fixture {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .playoff {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "roundof16-1 quarterfinal-a semifinal-1 ."
      "roundof16-2 quarterfinal-a semifinal-1 ."
      "roundof16-3 quarterfinal-b semifinal-1 final"
      "roundof16-4 quarterfinal-b semifinal-1 final"
      "roundof16-5 quarterfinal-c semifinal-2 final"
      "roundof16-6 quarterfinal-c semifinal-2 final"
      "roundof16-7 quarterfinal-d semifinal-2 ."
      "roundof16-8 quarterfinal-d semifinal-2 third-place";

    .final {
      grid-area: final;
    }

    @for $i from 1 through 8 {
      .roundof16-#{$i} {
        @if $i % 2==0 {
          @include playoff-style(1rem, rgba(249, 204, 204, 0.882));
        }

        @else {
          @include playoff-style(1rem, rgba(204, 188, 188, 0.913));

        }

        grid-area: roundof16-#{$i};
      }
    }

    @each $key in $quarter {
      .quarterfinal-#{$key} {
        @include playoff-style(1.2rem, rgba(240, 170, 170, 0.4));
        grid-area: quarterfinal-#{$key};
      }
    }

    .semifinal-1 {
      @include playoff-style(1.4rem, rgba(193, 116, 116, 0.592));
      grid-area: semifinal-1;
    }

    .semifinal-2 {
      @include playoff-style(1.4rem, rgba(193, 116, 116, 0.592));
      grid-area: semifinal-2;
    }

    .final {
      @include playoff-style(1.4rem, rgba(184, 59, 59, 0.647));
      border-style: double;
      grid-area: final;
    }

    .third-place {
      @include playoff-style(1.2rem, rgba(193, 116, 116, 0.274));
      grid-area: third-place;
    }
  }
}

.playoff-table {
  display: none;
}



/* grid de la serie de playoff*/

@media screen and (max-width: 800px) {
  .container-fixture {
    .playoff {
      display: none;
    }
  }

  .playoff-table {
    display: unset;
  }

  .fixture-item {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .fixture-item {
    font-size: 10px;
  }
}