/* ESTADIOS */
.container-stadiums {
  margin: 10px;
}

.item-grid {
  margin-bottom: 50px;
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto auto 2fr;
  grid-template-areas:
    "stadium-title stadium-title"
    "stadium-stats stadium-img"
    "stadium-map stadium-img";
  .stadium-title {
    grid-area: stadium-title;
  }

  .stadium-map {
    grid-area: stadium-map;
    iframe {
      height: 100%;
    }
  }

  .stadium-img {
    background-color: black;
    grid-area: stadium-img;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    img {
      width: 100%;
    }
  }

  iframe {
    height: 100%;
  }
}

/* Stadiums responsive grid within flex */
@media screen and (max-width: 800px) {
  .item-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "stadium-title"
      "stadium-stats"
      "stadium-img";
    .stadium-map {
      display: none;
    }

    .stadium-img {
      width: 100%;
    }
  }
}
