/* TEAMS */

.container-teams {
  margin: 10px;
  width: 95%;
  .index {
    background-color: $bgColor3;
    .nav-link {
      color: $color1;
    }
  }
  .team-item {
    margin-bottom: 25vh;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat 2fr, auto, auto;
    grid-template-areas:
      "team-img team-img team-img team-img"
      "goalkeepers defenders midfielders strikers"
      "back-to-top back-to-top back-to-top back-to-top";
    .team-img {
      flex: none;
      position: relative;
      grid-area: team-img;
      .img-container {
        .slider_content {
          .slider_title {
            color: $color2;
            font-size: 2rem;
            background-color: $bgColor3;
          }
        }
        position: absolute; left:0; right: 0; bottom: 0; text-align: center; transform: translateY(0%);
      }
    }

    .team-img img {
      width: 100%;
    }

    .goalkeepers {
      margin: 0px 5px;
      grid-area: goalkeepers;
    }

    .defenders {
      margin: 0px 5px;
      grid-area: defenders;
    }

    .midfielders {
      margin: 0px 5px;
      grid-area: midfielders;
    }

    .strikers {
      margin: 0px 5px;
      grid-area: strikers;
    }
    
    .back-to-top {
      text-align: center;
      margin: 10px 10px;
      grid-area: back-to-top;
      height: 20px;
    }
  }
}

/* Teams responsive grid within flex */
@media screen and (max-width: 1280px) {
  .container-teams {
    .team-item {
      height: auto;
      margin-bottom: 10vh;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, auto);
      grid-template-areas:
        "team-img team-img"
        "goalkeepers defenders"
        "midfielders strikers"
        "back-to-top back-to-top";
    }
  }
}

@media screen and (max-width: 800px) {
  .container-teams {
    margin: 0;
    padding: 0;
    width: 100%;
    .team-item {
      margin-bottom: 10vh;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, auto);
      grid-template-areas:
        "team-img"
        "goalkeepers"
        "defenders"
        "midfielders"
        "strikers"
        "back-to-top";
    }
  }
}
